.footer {
  background: var(--colorShark);
  text-align: center;
  padding-block: 48px;
  font-size: 24px;
}

footer p {
  margin: 0;
  color: var(--colorWhite);
}

.social {
  padding-block-start: 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 32px;
  }
}
