@import "./variables.css";
@import "./header.css";
@import "./section.css";
@import "./footer.css";

html {
  scroll-behavior: smooth;
}

body {
  color: var(--colorTundora);
  min-block-size: 200vh;
  font-family: var(--fontFamilyRoboto);
  font-size: 16px;
  margin: 0;
}

.container {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding: 16px;
}

.decorator {
  background: url("../../images/light/patron-1.png");
  block-size: 96px;
}

@media screen and (min-width: 768px) {
  .decorator {
    block-size: 350px;
  }
}
