@import "./variables.css";
@import "./header.css";
@import "./section.css";
@import "./footer.css";

html {
  scroll-behavior: smooth;
}

body {
  color: var(--colorTundora);
  min-block-size: 200vh;
  font-family: var(--fontFamilyRoboto);
  font-size: 16px;
  margin: 0;
}

.container {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding: 16px;
}

.decorator {
  block-size: 96px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.25), transparent), url("../../images/light/patron-1.png");
}

@media screen and (min-width: 768px) {
  .decorator {
    block-size: 350px;
  }
}
