:root {
  --fontFamilyRoboto: "Roboto", sans-serif;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorShark: #212429;
  --colorMineShaft: #212121;
  --colorTundora: #424242;
  --colorDoveGray: #616161;
  --colorSunglow: #fec62e;

  --headerGradient: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
}
