header {
  inline-size: 200px;
  position: absolute;
  left: -300px;
  top: 64px;
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

.header ul li {
  list-style: none;
}

.header li {
  margin-block-end: 16px;
}

nav ol li a {
  text-decoration: none;
  color: var(--colorShadyLady);
}

nav ol li a:hover {
  color: var(--colorWhite);
}

nav ol li {
  color: var(--colorShadyLady);
}

.is-active {
  background: var(--colorBlack);
}

@media screen and (min-width: 768px) {
}
