:root {
  --fontFamilyRubik: "Rubik", sans-serif;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorDodgerBlue: #5551ff;
  --colorPerano: #abaaf6;
  --colorGray: #00000033;
  --colorEmperor: #545454;
}
