:root {
  --fontFamilyRoboto: "Roboto", sans-serif;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorMineShaft: #212121;
  --colorTundora: #424242;
  --colorShark: #212429;
  --colorDoveGray: #616161;
  --colorSilver: #c4c4c4;
  --colorMercury: #e5e5e5;
}
